.cabecalho__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    color: var(--branco-princiapl);
    display: block;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1rem;
}

.botao_segundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal)
}
